<h3>Carrinho</h3>

<p>
    <a routerLink="/shipping">Preço frete</a>
</p>

<div class="cart-item" *ngFor="let item of items">
    <span>{{item.name}}</span>
    <span>{{item.price | currency}}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Nome: </label>
        <input type="text" name="name" id="name" formControlName="name">
    </div>
    <div>
        <label for="name">Endereço: </label>
        <input type="text" name="address" id="address" formControlName="address">
    </div>
    <button type="submit" class="button">Comprar</button>
</form>